.title{
  font-size: 45px;
  text-align:center;
}
h2{
  text-align:center;
}
body{
  text-align:center;
  background-color: maroon;
  font-size:20px;

}
button.reset{
  background-color:pink;
  font-size:20px;
  border-style:groove;

}
button.scissors{
  background-color: green;
  font-size:20px;
  border-style:groove;

}
button.paper{
  background-color: blue;
  font-size:20px;
  border-style:groove;

}
button.rock{
  background-color: orange;
  font-size:20px;
  border-style:groove;

}
.button{
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}
