.title{
  font-size: 45px;
  text-align:center;
}
h2{
  text-align:center;
}
body{
  text-align:center;
  background-color: #0E9A4B;
  font-size:20px;

}
button.reset{
  background-color:pink;
  font-size:20px;
  border-style:groove;

}
button.scissors{
  background-color: #83E5F4;
  font-size:20px;
  border-style:groove;

}
button.paper{
  background-color: #5376F3;
  font-size:20px;
  border-style:groove;

}
button.rock{
  background-color: #E783F4;
  font-size:20px;
  border-style:groove;

}
.button{
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
button:hover {
  background-color:white;
}
